.container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  // align-items: center;
}

.headline {
  text-align: center;
}

.buttonGroup {
  display: flex;
  justify-content: center;
  gap: 4px;
}
.logoGroup {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 12px;
}
